<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <a [routerLink]="['addRecipe']"
               style="border: solid rgb(243, 67, 47); 
                font-family: Lucida Console, Courier, monospace; font-weight: 800; font-size: medium;
                color: white;
                background-color: #f36a2a!important;
                box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.2);"
               class="list-group-item list-group-item-action">
                Add New Recipe
            </a>
        </ul>
        <div style="margin-top: 30px">
            <legend>Recipe List</legend>
            <ul class="list-group">
                <a [routerLink]="['addRecipe',true,recipe.key]"
                   routerLinkActive="active"
                   routerLinkActiveOptions="true"
                   *ngFor="let recipe of getRecipeList() | keyvalue"
                   class="list-group-item ">
                    {{recipe.key}}
                </a>
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="well well-lg">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>