<nav style="font-weight: bolder;"
     class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#"
         class="navbar-brand">Restaurant</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a [routerLink]="['recipeBook']"><span> Recipe Book </span></a></li>
      <li><a href="#"> <span> Shopping List </span></a></li>
    </ul>
  </div>
</nav>