.inline-field {
  margin-left: 6px;
  margin-right: 6px;
  display: inline;
  max-width: 200px;
}

.field-set {
  margin-top: 10px;
  padding: 4px;
  border: 1px solid #c0c0c0;
}

.btn-stl {
  margin: 0 10px
}
