<form>
    <legend> Recipe Details</legend>
    <p *ngIf="message"
       style="color: red;">{{message}}</p>
    <p *ngIf="sucessMessage"
       style="color: blue;">{{sucessMessage}}</p>
    <div *ngIf="recipe"
         class="form-group">
        <fieldset [disabled]="jhinga">
            <label for="Name">Recipe Name</label>
            <input [disabled]="!editRecipeName"
                   type="text"
                   class="form-control"
                   value="{{recipe.getName()}}"
                   placeholder="Recipe Name should be unique"
                   #recipeNameInput>

            <label for="Description">Description</label>
            <input type="text"
                   class="form-control"
                   value="{{recipe.getDescription()}}"
                   placeholder="Description of Recipe"
                   #recipeDescriptionInput>

            <label for="Price">Price</label>
            <input type="number"
                   class="form-control"
                   value="{{recipe.getPrice()}}"
                   placeholder="Price of the recipe"
                   #recipePriceInput>

            <fieldset class="field-set">
                <legend style="font-size: medium; font-weight: 600;">Ingredients Details</legend>
                <label>List of Ingredients: </label>
                <div *ngFor="let ingredient of ingredients"
                     style="display: block; width: 100%;">
                    <div class="row">
                        <div class="col-sm-8"
                             style="overflow-wrap: break-word">
                            Name : {{ingredient.getName()}} & Quantity : {{ingredient.getQuantity()}}
                        </div>
                        <div class="col-sm-4">
                            <button type="button"
                                    (click)="deleteIngredient(ingredient)"
                                    class="btn btn-danger">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <label for=" Name">Name: </label>
                <input class="form-control inline-field"
                       type=" text"
                       placeholder="Name of the ingredient"
                       #ingredientName>

                <label for="Quantity">Quantity: </label>
                <input class="form-control inline-field"
                       type="number"
                       placeholder="Quantity requried"
                       #ingredientQuantity>
                <button type="button"
                        (click)="addIngredient(ingredientName,ingredientQuantity)"
                        class="btn btn-primary">
                    Add
                </button>
            </fieldset>
            <br>
        </fieldset>
        <button *ngIf="!jhinga"
                type="button"
                class="btn btn-primary btn-stl"
                (click)="saveRecipe(recipeNameInput,recipeDescriptionInput,recipePriceInput)">
            Save Recipe
        </button>
        <span *ngIf="jhinga">
            <button type="button"
                    class="btn btn-danger btn-stl"
                    (click)="deleteRecipe()">
                Delete Recipe
            </button>
            <button type="button"
                    class="btn btn-warning btn-stl"
                    (click)="editRecipe()">
                Edit Recipe
            </button>
        </span>
    </div>
</form>